{% extends "index.html" %}

{% block content %}
<h1>Event Countdown</h1>
<h3>Welcome, {{ name }}</h3>
<div class="container" id="table_div">
<table class="container">
  <tr>
    <td>
      <div id="event_div" class="container">
        <h3>Events</h3>
        <table id='event_table'></table>
      </div>
    </td>
    <td>
      <div id='clock_div' class="container">
        <h3>Countdown</h3>
        <table id="clock_table"></table>
      </div>
    </td>
  </tr>
</table>
</div>
<div class="container" id="form_div">
<form onsubmit="return false" id="form">
  <p>Event Name: <input type="text" id="nameInput"></p>
  <p>Date: <input type="text" id="dateInput" placeholder="YYYY-MM-DD || MM-DD"></p>
  <p><button onclick="validateSubmission()">Create</button>
    <button onclick="processDelete()">Delete</button></p>
</form>
</div>
{% endblock %}
