.mainDiv {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  float: none;
  font-family: "helvetica", sans-serif;
  text-align: center;
}
.container {
  text-align: center;
}
.container table {
  margin: 0 auto;
}
#event_div {
  padding: 10px;
}
#clock_div {
  padding: 10px;
}
#clock_table td {
  padding: 1.24999992px;
}

#google {
  background-image: url(images/btn_google_signin_light_normal_web.png);
  display: block;
  margin: 0 auto;
  width: 191px;
  height: 46px;
}

#google:hover {
  background-image: url(images/btn_google_signin_light_focus_web.png);
  display: block;
  margin: 0 auto;
  width: 191px;
  height: 46px;
}

#google:active {
  background-image: url(images/btn_google_signin_light_pressed_web.png);
  display: block;
  margin: 0 auto;
  width: 191px;
  height: 46px;
}
